<h1 style="color:blue;text-align:center;">Paradise Restaurant</h1>
<h3 style="color:brown;font-family: verdana">MenuItems in paradise</h3>

<% Section.all.each do |section| %>
<%= link_to section, paradiseinfo_menu_path(section: section), class:"btn-group", class:"btn btn-primary btn-lg" %>
<%end%>

<table class="table table-inverse">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th>Section</th>
      <th>Image</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <% @f.each do |f| %>  
      <td><%=f.name%></td>
      <td><%=f.price %></td>
      <td><%=f.description%></td>
      <td><%=f.section%></td>
      <td><%=image_tag f.image.url(:thumb)%></td>
      <td><%=link_to "Show",({:action=>'show', :id=>f.id}),class:"btn-group", class:"btn btn-primary btn-lg"%></td>
      <td><%=link_to "Edit",({:action=>'edit',:id=>f.id})%></td>
      <td><%=link_to "Delete",({:action=>'delete',:id=>f.id})%></td>
      </tr>
      <%end%>
      <td><%=link_to "Create New Item",({:action=>'new'})%></td>
   </tbody>
   </table>
